#selection-screen {
    display: inline;
}

#choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.button {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 20vw;
}

div.button[status="On"] {
    background-color: rgb(164, 164, 237);
}

div.button[status="Off"] {
    background-color: rgb(191, 199, 205);
}


/* ...more classes and ids*/
footer {
    height: 10vh;
}

#init-button {
    display: block;
    margin: auto;
    width: 20vw;
    height: 8vh;
    font-size: large;
}