img {
    display: block;
    width: auto;
    height: 80vh;
    margin: 20px auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
  }

.metallic {
    color: rgb(79, 93, 97);
}

#caption {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
}

#tool-bar {
    background-color: bisque;
}

#reveal {
    background-color: cornsilk;
    font-size: 80px;
    position: fixed;
    padding: 20px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: ridge;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;
}

#shuffle-button {
    position: absolute;
    right: 1vw;
}